
.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  .spaceInput:first-child {
    padding-top: 0px;
  }
  .spaceInput {
    padding-top: 10px;
  }
  
  body {
    min-width: 360px;
    max-width: 100%;
  }
  
  .filtroFieldset {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #dee2e6;
  }
  
  @media only screen and (min-width: 600px) {
    .filtroFieldset {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .btn-agregar-categoria {
    width: 25%;
  }
  @media only screen and (max-width: 600px) {
    .btn-agregar-categoria {
      width: 100%;
    }
  }
  
  .btn-agregar-categoria-productos {
    width: 100%;
  }
  
  .body {
    padding-right: 0 !important;
  }
  
  .listadoClientes {
    min-width: 500px;
    max-width: 500px;
  }
  .formularioClientes {
    min-width: 500px;
    max-width: 500px;
  }
  
  .listadoClientesBotones {
    border-radius: 100px !important;
    border-color: black !important;
    margin: 2px;
  }
  
  @media only screen and (max-width: 600px) {
    .card-body {
      padding-left: 0.35rem;
      padding-right: 0.35rem;
    }
  
    .table td,
    .table th {
      font-size: 0.8rem;
    }
  
    .table td div button a {
      font-size: 0.8rem;
    }
  }
  
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 10px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .stepsobre {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 10px;
    background-color: #008000;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .stepready {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 10px;
    background-color: #00ff00;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
